p{
    color: black;
}

a.jerrylink{
    padding: 0px 30px;
    margin-left: 10px;
    border-radius: 50px;
    color: cornflowerblue;
}

a.jerrylink:hover{
    background-color: cornflowerblue;
    color: white;
}

div.jerrydivgrey{
    background-color: rgb(235, 235, 235);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    line-height: 45px;
}

.jerrycrop{
    height: 500px;
    overflow: hidden;
    object-fit: contain;
    margin: 5px 5px;
    border-radius: 5px;
}
@media (max-width: 768px) {
    img{
    display: block;
    min-width: 640px;
    
  }
}

.jerryserif{
    font-family: "Noto Serif TC", serif;
}

.text-date{
    color: orchid;
    font-weight: bold;
    font-size: 130%;
}

.jerryh1{
    color: crimson;
    font-weight: 900;
}

.jerrycallmebg{
    background-image: url("../assets/img/bg.png"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.text-english{
    font-size: 60%;
    padding: 0px 20px;
    color: blueviolet;
}

.lead{
    line-height: 1cm;
}

.schoolp{
    font-size: 105%;
}